<head>
    <%- include('../partials/head_assessment'); %>
</head>
<body class="container">

<header class="grid-container header__grid-container">
        <%- include('../partials/header'); %>
</header>

<main class="main-content-enclosure" id="main-content-enclosure">   

</main>

<footer class="grid-container">
    <%- include('../partials/footer'); %>
</footer>
<script src = "javascripts/assessment-page3.js"></script>

</body>
</html>