<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header class="grid-container header__grid-container">
        <%- include('../partials/header'); %>
</header>

<article class="main-content-enclosure">
    <h1 class="page__title--base col-s__1 col-e__11 row-s__1 row-e__2">Contact
    </h1>
    <section class="grid-container main-content__grid-container--base">

        <h2 class="main-content__title--base col-s__1 col-e__11 row-s__1 row-e__2">Who are we?
        </h2>

        <p class="main-content__text--base col-s__2 col-e__10">
            We are a group of diverse students all united to improve our web development skill. 
                    Even though we all have different study backgrounds the moment we set foot into that online teams chat was a moment to never forget. 
                    We were all asking for a group until suddenly one anonymous person found his calling and connected this epic trio. 
                    Our first meeting was the most remarkable one. Hearing the song “jingle bells” being whistled two months after Christmas, by two unexpected visitors, Micheal and Maya. 
                    This extraordinary development evolved the group from a simple trio into a marvelous quintet, with lots of web development adventures to come...  
        </p>

    </section>

    <section class="grid-container main-content__grid-container--base">

        <h2 class="main-content__title--base col-s__1 col-e__11 row-s__1 row-e__2">Special Thanks to: Emotional Support Birds
        </h2>

        <figure class="main-content__reference-image col-s__3 col-e__5 row-s__2 row-e__3">
            <img
                    src="images/bird2.png"
                    alt="A green yellow bird not moving">
                    
                    <figcaption>Micheal</figcaption>
        </figure>
        
        <figure class="main-content__reference-image col-s__7 col-e__9 row-s__2 row-e__3">
            <img 
            src="images/bird3.jpg"
            alt="A bird with his wings spread">
            <figcaption>Maya</figcaption>
        </figure>
    </section>

    <section class="grid-container main-content__grid-container--base">

        <h2 class="main-content__title--base col-s__1 col-e__11 row-s__1 row-e__2"> Group 29: Let us introduce ourselves
        </h2>

        <p class="main-content__text--base col-s__2 col-e__7 row-s__3 row-e__4">
            <strong>Kathleen de Boer</strong> :
                Artificial Intelligence student at UU
        </p>


        <div class="main-content__reference-image col-s__8 col-e__10 row-s__2 row-e__5">
            <img 
                        src="images/kathleen.jpg"
                        alt="A picture of the team member Kathleen">
        </div>


        <p class="main-content__text--base col-s__2 col-e__7 row-s__6 row-e__7">
            <strong>Matthies Brouwer</strong> :
            ICT student at HU University of Applied Sciences
        </p>


        <div class="main-content__reference-image col-s__8 col-e__10 row-s__5 row-e__8">
            <img 
                        src="images/mathies.jpg"
                        alt="A picture of the team member Matthies">
        </div>

        <p class="main-content__text--base col-s__2 col-e__7 row-s__9 row-e__10">
            <strong>Lennard Marck</strong> :
            Information science student at UU
        </p>


        <div class="main-content__reference-image col-s__8 col-e__10 row-s__8 row-e__11">
            <img
                    src="images/lennard.JPG"
                    alt="A picture of the team member Lennard">
        </div>
        
    </section>
</article>

<footer class="grid-container">
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>