<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header class="grid-container header__grid-container">
        <%- include('../partials/header'); %>
</header>

<main class="main-content-enclosure">
    <h1 class="page__title--base col-s__1 col-e__11 row-s__1 row-e__2">Home
    </h1>
    <section class="grid-container main-content__grid-container--base">

        <h2 class="main-content__title--base col-s__1 col-e__11 row-s__1 row-e__2">HTML Education -
            Learn How to Make a Web page
        </h2>

        <p class="page-description__description-text main-content__text--base col-s__3 col-e__7">
            Being free to surf the internet is one of the
            biggest benifits of living in the 21st century, but
            being able to
            create your own web content feels even better.
            HyperText Markup Language (HTML)
            gives web developers the tools necessary to freely
            create web pages and applications.
            This website will give you a basic understanding of
            HTML, it's history of HTML, and some of the best
            practices.
            With the help of our tutorial, even YOU can becoma a
            skilled web developer and create your own insightful
            webpages.
        </p>


       <!-- SOURCE 
        https://icons8.com/icon/116999/web
        -->
        <div class="main-content__reference-image col-s__8 col-e__9">
            <img
            src="images/page-icon-homepage.png"
            alt="An icon for the home page displaying a web
            page">
        </div>
        

    </section>
</main>

<footer class="grid-container">
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>