header {
    position: relative;
    background-color: #e34c26;
    margin: 0;
    display: inline-block;
    width: 60%;
}


header .menu-options {
    position: absolute;
    width: 100%;
    display: inline;
    text-align: center;
    font-size: 100%;
    font-family: Fantasy;
    text-decoration: none;
    color: #ffff;

}

#bodyContent {
    position: relative;
    display: inline-block;
}



body {
    background-color:#464646;
}






/*header {
    position: relative;
    height: 40%;
    width: 45%;
    background-color: #e34c26;
    z-index: 1;/*
    display: block;
    float: left;
}

header #mainLogo{
    float: left;
}


nav a {
    float: left;
    color: #ffff;
    text-align: center;
    padding: 40px 17px;
    text-decoration: none;
    font-size: 20px;
    font-family: Fantasy;
}

nav a:hover{   
    background-color:green;
    
}

nav a.active{
    background-color:#000000;
}

body {
    background-color:#464646;
}

#bodyContent{
    position: relative;
    top: 50%;
    left: 5%;
    width: 85%;
    height: 60%;


    background-color: #ffffff;
    padding: 40px;
    text-align: left;
    z-index: 10;
}

.descriptionRow {
    margin-right: 15px;
    margin-left: 15px;
}


.aboutDescription {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}


.topMarg30 {
    margin-top: 30px;
}


.bottomMarg30 {
    margin-bottom: 30px;
}


#History_Introduction {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 85%;
    height: 70%;


    background-color: #ffffff;
    padding-top: 0%;
    padding-left:2%;
    text-align: left;
    z-index: 2;
}

h1{
font-size: 200%;
}
h2{
margin-top: 0px;
margin-bottom: 0px;

}
h3{
    margin-top: 0px;
    margin-bottom: 0px;
}





footer {
    position: absolute;
    z-index: 3;
    background-color: black;
    color: white;
    top: 85%;
    width: 100%;
}

footer ul {
    float: left;
}

footer ol {
    float: left;
}

footer li {
    color: white;
    padding: 5px 5px;

    float: left;
    text-align: left;
}
*/