

/*===============================
            HEADER CSS
  ===============================*/

* {
    box-sizing: border-box;
  }

[class*="col-"] {
    float: left;
    padding: 5px;
}


p{
    margin:0;
    text-align: justify;
}

h1{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
html{
    width: 100vw; 
    height: 100%;  
}

body{
    position: relative;
    min-height: 100%;    

}


/*===============================
            HEADER CSS
  ===============================*/

header {
    background-color:#e34c26; 
    padding: 0px;
}

.page-logo {
    background-color: #e34c26;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.menu-bar {
    position: relative;
    height: 100%;
    background-color: #e34c26;
    padding: 0px;
    display: inline-block;
    overflow: hidden;

}



.menu-bar__option  {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;

}

.menu-bar__option:hover {
    background-color: #db3309;
}

.menu-bar__option.active {
    background-color: #b43c1e;
}


/*===============================
            BODY CSS
  ===============================*/

body {
    position: relative;
    margin: 0;
    background-color: white;
}

.page-content-enclosure {
    
    position: relative;
    background-color: rgb(70, 70, 70);
    overflow:hidden;
}

.page-description__title {
    color: #c9d0d4;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 150%;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 1px;
    border-bottom: double #555;
    border-top: double #555;
    text-align: center;
}

.page-description__description-text {
    color: white;
    font-size: 20px;
}

.page-description__icon {
    display: block;
    margin: auto;
    width: 60%; 
    height: auto; 
}

/*For phones - Base sizes*/
[class*="col-"] {
    width: 100%;
}


/* For tablets: 
@media only screen and (min-width: 600px) {
    /* Base collumn devisions 
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}  
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


    

}*/

/* For desktop: */
@media only screen and (min-width: 768px) {
    
    /* Base collumn devisions */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}  
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


    .menu-bar {
        height: 140px;
    }


    .page-logo {
        height: 100px;
        padding: 30px;
        padding-left: 5px;
        padding-top: 10px;
        float:left;
    }

    /* Kan -s worden toegevoegd om aan te duiden dat dit de css is voor small die wordt overwritten */
    .menu-bar__option {
        /*float:right;*/
        font-size: 12px;
        /*width: 10%;*/
        padding: 15px;
        /*padding-bottom: 10px;
        padding-top: 10px;*/    
        text-align: center;

    }
    .page-description__title {
    font-size: 25px;
    }





    /*===============================
            BODY CSS
    ===============================*/

    
    .page-content-enclosure {
        top:25px;
        left: 25px;
    }
     /*===============================
            Footer CSS
    ===============================*/
    .footer{
        position: absolute;  
        bottom: 0;
        height: auto;
        width: 100%;
        overflow: auto;
    }

    .footer-logo {
        float: right;
    
    }

