

* {
    box-sizing: border-box;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
}



/*===============================
            HEADER CSS
  ===============================*/

header {
    width: 100%;

    padding: 0px;
}


.menu-bar {
    position: relative;
    height: 100%;
    background-color: #e34c26;
    /*display: inline-block;
    overflow: hidden;*/

}

.menu-bar__option  {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;

}

.menu-bar__option:hover {
    background-color: #db3309;
}

.menu-bar__option--home {
    background-color: #b43c1e;
}


/*===============================
            BODY CSS
  ===============================*/

body {
    position: relative;
    margin: 0;
    background-color: white;
}

.page-content-enclosure {
    position: relative;
    background-color: rgb(70, 70, 70);
    overflow:hidden;

    
}

.page-description { 
    margin-bottom: 30px;

    border-style: solid;
    border-width:3px;
    border-color: rgb(39, 39, 39);

    overflow: hidden;
}

.page-description__title {
    color: #c9d0d4;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 0 0 40px;
    border-bottom: double #555;
    text-align: center;
}

.page-description__description-text {
    color: white;
    font-size: 17px;
    font-weight: 100;

    text-align: justify;
}

.page-description__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}


/* For tablets: 
@media only screen and (min-width: 600px) {
    /* Base collumn devisions 
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}  
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


    

/*For phones - Base sizes*/
[class*="col-"] {
    width: 100%;
}


/* For tablets: 
@media only screen and (min-width: 600px) {
    /* Base collumn devisions 
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}  
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


    

}*/

/* For desktop: */
@media only screen and (min-width: 768px) {
    




    /* Base collumn devisions */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}  
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .menu-bar__option {

        font-size: 15px;
        width: 20%;   
    }


    /*===============================
            BODY CSS
    ===============================*/

    
    .page-content-enclosure {
        top:25px;
        left: 25px;
    }




}




