

/*===============================
            HEADER CSS
  ===============================*/

* {
    box-sizing: border-box;
  }

[class*="col-"] {
    float: left;
    padding: 5px;
}


p{
    margin:0;
    text-align: justify;
}

h1{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
html{
    height: 100%;  
}

body{
    position: relative;
    min-height: 100%;    
}

.grid-row::after {
    content: "";
    clear: both;
    display: table;
}


/*===============================
            HEADER CSS
  ===============================*/

header {
    background-color:#e34c26; 
    padding: 0px;
}

.page-logo {
    background-color: #e34c26;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.menu-bar {
    position: relative;
    height: 100%;
    background-color: #e34c26;
    padding: 0px;
    display: inline-block;
    overflow: hidden;

}



.menu-bar__option  {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;

}

.menu-bar__option:hover {
    background-color: #db3309;
}

.menu-bar__option.active {
    background-color: #b43c1e;
}


/*===============================
            BODY CSS
  ===============================*/

body {
    position: relative;
    margin: 0;
    background-color: #283d4d/*rgba(0, 0, 0, 0.288)*/;
}

.page-content-enclosure {
    position: relative;
    background-color: rgb(70, 70, 70);
    overflow:hidden;
}

.page-description__title {
    color: #c9d0d4;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 150%;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 1px;
    border-bottom: double #555;
    border-top: double #555;
    text-align: center;
}

.page-description__description-text {
    color: white;
    font-size: 20px;
}

.page-description__icon {
    display: block;
    margin: auto;
    width: 60%; 
    height: auto; 
}

.footer{
    background-color: #556068;
    outline: 2px dashed #98abb9;
    outline-offset: -5px;
}

.footer__title {
    font-size: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;

    border-bottom: double rgb(65, 63, 63);
    padding-bottom: 3vw;

}

.group-details__title {
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;

    padding-left: 5%;
}

.group-details__members {
    color: white;
}

.group-details__members li {
    list-style-type: none;
    border-bottom: 1px solid white;
    /*background-color: #717f8a;*/
    margin: 10px;
}



/*For phones - Base sizes*/
[class*="col-"] {
    width: 100%;
}


/* For tablets: 
@media only screen and (min-width: 600px) {
    /* Base collumn devisions 
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}  
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


    

}*/

/* For desktop: */
@media only screen and (min-width: 768px) {
    
    /* Base collumn devisions */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}  
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


    .menu-bar {
        height: 240px;

        z-index: 1;
    }


    .page-logo {
        height: 100px;
        padding: 30px;
        padding-left: 5px;
        padding-top: 10px;
        float:left;
    }

    /* Kan -s worden toegevoegd om aan te duiden dat dit de css is voor small die wordt overwritten */
    .menu-bar__option {
        font-size: 12px;
        padding: 15px;
        text-align: center;

    }
    .page-description__title {
    font-size: 25px;
    }





    /*===============================
            BODY CSS
    ===============================*/

    
    
    .page-content-enclosure {
        position: relative;
        top: -130px;
        left: 80px;
        padding-left: 10px;
        overflow: hidden;

        box-shadow: -14px -4px 10px 6px rgba(0, 0, 0, 0.267);

        z-index: 2;
    }

    .page-description__title {
        font-size: 2.2vw;
    }

    .page-description__description-text {
        position: relative;
        font-size: 1.2vw;
        /*margin-left: 10%;*/
    }

    .page-description__icon {
        position: relative;
        /*max-width: 10vw;
        max-height: 10vw;*/
    }


     /*===============================
            Footer CSS
    ===============================*/
    .footer{
        top: -120px;
        position: relative;  
        height: auto;
        width: 100%;
        overflow: auto;
    }

    .footer__title {
        font-size: 4vw;

        text-align: left;
        padding-bottom: 3vw;
        padding-left: 2vw;
    }
    

    .group-details__title {
        font-size: 2vw;    
        padding-left: 5%;
    }


    .group-details__members li {
    list-style-type: none;
    border-bottom: 1px solid white;
    margin: 20px;
    padding-left: 5%;
    width: 500px;
}

    .footer__logo {
        float: right;
    }
}