header {
    position: sticky;
    overflow: hidden;
    height: 40%;
    width: 45%;
    background-color: #e34c26;
    z-index: 1;
    display: block;
    float: left;
}

header #mainLogo{
    float: left;
}


header a {
    float: left;
    color: #ffff;
    text-align: center;
    padding: 40px 17px;
    text-decoration: none;
    font-size: 20px;
    font-family: Fantasy;
}

body {
    background-color:#464646;
}

#introductionSection {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 85%;
    height: 60%;


    background-color: #ffffff;
    padding: 40px;
    text-align: center;
    z-index: 2;
}


footer {
    position: absolute;
    z-index: 3;
    background-color: black;
    color: white;
    top: 85%;
    width: 100%;
}

footer ul {
    float: left;
}

footer li {
    float: left;
    color: white;
    text-align: left;
    padding: 20px 20px;
}
