
* {
    box-sizing: border-box;
  }

.grid-container {
    display: grid;
}


p{
    margin:0;
    text-align: justify;
}

h1{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
html{
    height: 100%;  
}

body{
    position: relative;
    min-height: 100%;  
}

figcaption {
    color: white;
}

li{
    margin-bottom: 1.5em;
    margin-left: 1.5em;

}

figure{
    text-align: center;
    margin: auto;
}

/*===============================
            HEADER CSS
  ===============================*/

header {
    padding: 0px;
}


.header-bar__grid-container {
    background-color:#e34c26; 
    grid-template-columns: 100%;

    position: relative;
    height: 100%;
    padding: 0px;
}

.header-bar__page-logo {
    margin-left: auto;
    margin-right: auto;
    height: 3em;
}

.menu-bar__option {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, sans-serif;
    font-size: 2em;
    text-decoration: none;
    text-align: center;
}

  
.menu-bar__option.active {
    background-color: #b43c1e;
}



/*===============================
            BODY CSS
  ===============================*/

body {
    position: relative;
    margin: 0;
    background-color: #283d4d/*rgba(0, 0, 0, 0.288)*/;
}


.main-content-enclosure {
    position: relative;
    background-color: rgb(70, 70, 70);
    overflow:hidden;

    grid-template-columns: auto;
}

.main-content__title--base {
    color: #c9d0d4;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 150%;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 1px;
    border-bottom: double #555;
    border-top: double #555;
    text-align: center;

    margin-left: 5%;
    margin-right: 5%;
}

.main-content__text--base {
    color: white;
    font-size: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
}


.main-content__grid-container--base {
    grid-template-columns: 100%;
}


.page-description__icon {
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
    margin-top: 3em;
}


/*===============================
            FOOTER CSS
  ===============================*/

footer{
    background-color: #5b6268;
    outline: 2px dashed #98abb9;
    outline-offset: -5px;

    grid-template-columns: 100%;

    width: 100%;
}

.footer__title {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;

    border-bottom: double rgb(65, 63, 63);
    padding-bottom: 3vw;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.group-details {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.group-details__title {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;

    padding-left: 5%;
}

.group-details__members {
    color: white;
}

.group-details__members li {
    list-style-type: none;
    border-bottom: 1px solid white;
    margin: 10px;
}


.footer__back-to-top-button {
    color: #e34c26;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;

    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.footer__logo {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 100%;
    height: auto;
}

.footer__logo img {
    width: 100%;
}


/* For desktop: */

@media only screen and (min-width: 768px) {
    .col-s__1 {grid-column-start: 1;}
    .col-s__2 {grid-column-start: 2;}
    .col-s__3 {grid-column-start: 3;}
    .col-s__4 {grid-column-start: 4;}
    .col-s__5 {grid-column-start: 5;}
    .col-s__6 {grid-column-start: 6;}
    .col-s__7 {grid-column-start: 7;}
    .col-s__8 {grid-column-start: 8;}
    .col-s__9 {grid-column-start: 9;}
    .col-s__10 {grid-column-start: 10;}
    .col-s__11 {grid-column-start: 11;}
    .col-s__12 {grid-column-start: 12;}


    .col-e__1 {grid-column-end: 1;}
    .col-e__2 {grid-column-end: 2;}
    .col-e__3 {grid-column-end: 3;}
    .col-e__4 {grid-column-end: 4;}
    .col-e__5 {grid-column-end: 5;}
    .col-e__6 {grid-column-end: 6;}
    .col-e__7 {grid-column-end: 7;}
    .col-e__8 {grid-column-end: 8;}
    .col-e__9 {grid-column-end: 9;}
    .col-e__10 {grid-column-end: 10;}
    .col-e__11 {grid-column-end: 11;}
    .col-e__12 {grid-column-end: 12;}

    .row-s__1 {grid-row-start: 1;}
    .row-s__2 {grid-row-start: 2;}
    .row-s__3 {grid-row-start: 3;}
    .row-s__4 {grid-row-start: 4;}
    .row-s__5 {grid-row-start: 5;}
    .row-s__6 {grid-row-start: 6;}
    .row-s__7 {grid-row-start: 7;}
    .row-s__8 {grid-row-start: 8;}
    .row-s__9 {grid-row-start: 9;}
    .row-s__10 {grid-row-start: 10;}
    .row-s__11 {grid-row-start: 11;}
    .row-s__12 {grid-row-start: 12;}

    .row-e__1 {grid-row-end: 1;}
    .row-e__2 {grid-row-end: 2;}
    .row-e__3 {grid-row-end: 3;}
    .row-e__4 {grid-row-end: 4;}
    .row-e__5 {grid-row-end: 5;}
    .row-e__6 {grid-row-end: 6;}
    .row-e__7 {grid-row-end: 7;}
    .row-e__8 {grid-row-end: 8;}
    .row-e__9 {grid-row-end: 9;}
    .row-e__10 {grid-row-end: 10;}
    .row-e__11 {grid-row-end: 11;}
    .row-e__12 {grid-row-end: 12;}
/*===============================
            HEADER CSS
  ===============================*/

    .header-bar__grid-container {
        grid-template-columns: 20% auto;
        grid-template-rows: repeat(1, [row] 70px);
        height: 250px;
        width: 80%;
    }
    

    .menu-bar__grid-container {
        display: grid;
        grid-template-columns: repeat(5, 17%);
        grid-template-rows: 70px;
    }

    .header-bar__page-logo {
        margin: 0;
        padding-left: 5px;
        padding-top: 10px;
        width: 120px;
        height: auto;
    }

    .menu-bar__option {
        font-size: 1em;
        padding: 1.2em;
    }

/*===============================
            BODY CSS
  ===============================*/

    .main-content-enclosure {
        position: relative;
        top: -130px;
        left: 80px;
        padding-left: 10px;
        box-shadow: -14px -4px 10px 6px rgba(0, 0, 0, 0.267);
        z-index: 2;
        width: 90%;
       
    }

    .main-content__grid-container--base {
        grid-template-columns: repeat(10, 10%);
    }

    .main-content__title--base {
        font-size: 2em;

    }

    .main-content__text--base{
        margin-top: 2em;
        margin-bottom: 2em;
    }


    .page-description__icon {

        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        height: auto;
    }




/*===============================
            FOOTER CSS
  ===============================*/

    footer {
        top: -120px;
        position: relative;  

        grid-template-columns: repeat(10, 10%);
        float: left;
    }
    

    .footer__title{
        padding-bottom: 2vw;
        padding-left: 2vw;

        text-align: left;
    }

    .group-details__title {
        font-size: 1.7em;    
        padding-left: 5%;
    }

    .group-details__members li{
        list-style-type: none;
        border-bottom: 1px solid white;
        margin: 20px;
        width: 500px;
        font-size: 1em;
    }

    .footer__logo {
        width:100%;
        padding-right: 5%;
    }

    
}