
            <h2 class="footer__title col-s__1 col-e__11">HTML Education</h2>
            <section class="group-details col-s__1 col-e__4 row-s__2 row-e__3">
                <h2 class="group-details__title">Group 29</h2>
                <ul class="group-details__members">
                    <li>
                        <b>Kathleen K. de Boer</b>
                    </li>
                    <li>
                        <b>Lennard Marck</b>
                    </li>
                    <li>
                        <b>Matthies B. Brouwer</b>
                    </li>
                </ul>
            </section>
            <a class="footer__back-to-top-button col-s__5 col-e__7 row-s__2 row-e__3" href="#top">Back to top</a> 
            <a class="footer__logo col-s__8 col-e__11 row-s__2 row-e__3" href="https://www.uu.nl/" target="blank">
                <img  src="images/uu-logo.png"
                    alt="An clickable image displaying the logo of the
                    University of Utrecht. Clicking this image will open the
                    University's website in a new browser tab">
            </a>
            <script src="javascripts/header-bar-functionalities.js"></script>
