<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Meta tag for SEO -->
        <meta name="description" content="Take quizes on your HTML knowledge on different topics">

        <meta name="keywords" content=" HTML quiz, assessment, HTML quistions, HTML test, HTML tutorial, HTML, HTML best practices,
        HTML history, HTML guide, HTML howto">


        <!-- Title for information and SEO -->
        <title>HTML-education, Main Page</title>

        <!-- Link the CSS stylesheet. Only one stylesheet should be used -->
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css"
            media="screen" />